.Navbar-class {
    background-color: rgb(125, 99, 163);
}

.navbar-expand-lg {

    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(93, 79, 228), rgb(165, 104, 200));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(93, 79, 228), rgb(165, 104, 200));

}

 .navbar-brand {
    color: white;
 }
 .navbar-nav {
    color: white;
 }